<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    시작
    <% for (var i=0; i < customer.result.length; i++){ %>
    <p>-----------------------------------------------------------</p>
    <h2><%= customer.result[i].me %></h2>
    <h2><%= customer.result[i].customer_company %></h2>
    <h2><%= customer.result[i].customer_email %></h2>
    <h2><%= customer.result[i].customer_name %></h2>
    <h2><%= customer.result[i].customer_phone %></h2>
    <p>-----------------------------------------------------------</p>
    <% } %>
    끝
</body>
</html>